<%= form_for(@quiz, :html => { :class => "w3-container" }) do |f| %>
  <% if @quiz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
      <% @quiz.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :code, class: 'w3-input' %>
    <%= f.label :code %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :name, class: 'w3-input' %>
    <%= f.label :name %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :description, class: 'w3-input' %>
    <%= f.label :description %><br>
    <p>
  </div>
  <div class="field">
    <%= f.check_box :displaydescription, class: 'w3-input' %>
    <%= f.label :displaydescription %><br>
    <p>
  </div>
  <div class="field">
    <%= f.datetime_select :open, class: 'w3-input' %>
    <%= f.label :open %><br>
    <p>
  </div>
  <div class="field">
    <%= f.datetime_select :close, class: 'w3-input' %>
    <%= f.label :close %><br>
    <p>
  </div>
  <div class="field">
    <%= f.number_field :timelimit, class: 'w3-input' %>
    <%= f.label :timelimit %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :whentimeexpires, class: 'w3-input' %>
    <%= f.label :whentimeexpires %><br>
    <p>
  </div>
  <div class="field">
    <%= f.number_field :submissiongraceperiod, class: 'w3-input' %>
    <%= f.label :submissiongraceperiod %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :gradecategory, class: 'w3-input' %>
    <%= f.label :gradecategory %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :attemptsallowed, class: 'w3-input' %>
    <%= f.label :attemptsallowed %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :gradingmethod, class: 'w3-input' %>
    <%= f.label :gradingmethod %><br>
    <p>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
