<%= form_for(@quiz) do |f| %>
  <% if @quiz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
      <% @quiz.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :displaydescription %><br>
    <%= f.check_box :displaydescription %>
  </div>
  <div class="field">
    <%= f.label :open %><br>
    <%= f.datetime_select :open %>
  </div>
  <div class="field">
    <%= f.label :close %><br>
    <%= f.datetime_select :close %>
  </div>
  <div class="field">
    <%= f.label :timelimit %><br>
    <%= f.number_field :timelimit %>
  </div>
  <div class="field">
    <%= f.label :whentimeexpires %><br>
    <%= f.text_field :whentimeexpires %>
  </div>
  <div class="field">
    <%= f.label :submissiongraceperiod %><br>
    <%= f.number_field :submissiongraceperiod %>
  </div>
  <div class="field">
    <%= f.label :gradecategory %><br>
    <%= f.text_field :gradecategory %>
  </div>
  <div class="field">
    <%= f.label :attemptsallowed %><br>
    <%= f.text_field :attemptsallowed %>
  </div>
  <div class="field">
    <%= f.label :gradingmethod %><br>
    <%= f.text_field :gradingmethod %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
