<p id="notice"><%= notice %></p>

<h1>Listing Quizzes</h1>

<ul class="w3-ul w3-hoverable">

    <% @quizzes.each do |quiz| %>
      
      <li class="w3-border">

      
   <p> <span class="w3-tag w3-blue"><%= quiz.code %></span> </p>    
   <p> <span class="w3-tag w3-blue"><%= quiz.name %></span> </p>    
   <p> <span class="w3-tag w3-blue"><%= quiz.description %></span> </p>    
   <p> <span class="w3-tag w3-blue"><%= quiz.displaydescription %></span> </p>    
   <p> <span class="w3-tag w3-blue"><%= quiz.open %></span> </p>    
   <p> <span class="w3-tag w3-blue"><%= quiz.close %></span> </p>    
   <p> <span class="w3-tag w3-blue"><%= quiz.timelimit %></span> </p>    
   <p> <span class="w3-tag w3-blue"><%= quiz.whentimeexpires %></span> </p>    
   <p> <span class="w3-tag w3-blue"><%= quiz.submissiongraceperiod %></span> </p>    
   <p> <span class="w3-tag w3-blue"><%= quiz.gradecategory %></span> </p>    
   <p> <span class="w3-tag w3-blue"><%= quiz.attemptsallowed %></span> </p>    
   <p> <span class="w3-tag w3-blue"><%= quiz.gradingmethod %></span> </p>    
        </li>
    <% end %>

</ul>

<br>

<%= link_to 'New Quiz', new_quiz_path %>


