<p id="notice"><%= notice %></p>

<h1>Listing Quizzes</h1>

<table class="w3-table-all">
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Description</th>
      <th>Displaydescription</th>
      <th>Open</th>
      <th>Close</th>
      <th>Timelimit</th>
      <th>Whentimeexpires</th>
      <th>Submissiongraceperiod</th>
      <th>Gradecategory</th>
      <th>Attemptsallowed</th>
      <th>Gradingmethod</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quizzes.each do |quiz| %>
      <tr>
        <td><%= quiz.code %></td>
        <td><%= quiz.name %></td>
        <td><%= quiz.description %></td>
        <td><%= quiz.displaydescription %></td>
        <td><%= quiz.open %></td>
        <td><%= quiz.close %></td>
        <td><%= quiz.timelimit %></td>
        <td><%= quiz.whentimeexpires %></td>
        <td><%= quiz.submissiongraceperiod %></td>
        <td><%= quiz.gradecategory %></td>
        <td><%= quiz.attemptsallowed %></td>
        <td><%= quiz.gradingmethod %></td>
        <td><%= link_to 'Show', quiz %></td>
        <td><%= link_to 'Edit', edit_quiz_path(quiz) %></td>
        <td><%= link_to 'Destroy', quiz, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quiz', new_quiz_path %>
