<%= form_for(@issue, :html => { :class => "w3-container" }) do |f| %>
  <% if @issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% @issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :code, class: 'w3-input' %>
    <%= f.label :code %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :project, class: 'w3-input' %>
    <%= f.label :project %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :issuetype, class: 'w3-input' %>
    <%= f.label :issuetype %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :summary, class: 'w3-input' %>
    <%= f.label :summary %><br>
    <p>
  </div>
  <div class="field">
    <%= f.number_field :storypoints, class: 'w3-input' %>
    <%= f.label :storypoints %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :priority, class: 'w3-input' %>
    <%= f.label :priority %><br>
    <p>
  </div>
  <div class="field">
    <%= f.date_select :duedate, class: 'w3-input' %>
    <%= f.label :duedate %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :components, class: 'w3-input' %>
    <%= f.label :components %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :affectsversions, class: 'w3-input' %>
    <%= f.label :affectsversions %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :fixversions, class: 'w3-input' %>
    <%= f.label :fixversions %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :assignee, class: 'w3-input' %>
    <%= f.label :assignee %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :environment, class: 'w3-input' %>
    <%= f.label :environment %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :description, class: 'w3-input' %>
    <%= f.label :description %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :labels, class: 'w3-input' %>
    <%= f.label :labels %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :epic, class: 'w3-input' %>
    <%= f.label :epic %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :sprint, class: 'w3-input' %>
    <%= f.label :sprint %><br>
    <p>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
