<%= form_for(@issue) do |f| %>
  <% if @issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% @issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
        <%= f.label :code %><br>
    <%= f.text_field :code %>
      </div>
  <div class="field">
        <%= f.label :project %><br>
    <%= f.text_field :project %>
      </div>
  <div class="field">
        <%= f.label :issuetype %><br>
    <%= f.text_field :issuetype %>
      </div>
  <div class="field">
        <%= f.label :summary %><br>
    <%= f.text_field :summary %>
      </div>
  <div class="field">
        <%= f.number_field :storypoints, {min: "0", max: "500"} %>
      </div>
  <div class="field">
        <%= f.label :priority %><br>
    <%= f.text_field :priority %>
      </div>
  <div class="field">
        <%= f.label :duedate %><br>
    <%= f.date_select :duedate %>
      </div>
  <div class="field">
        <%= f.label :components %><br>
    <%= f.text_field :components %>
      </div>
  <div class="field">
        <%= f.label :affectsversions %><br>
    <%= f.text_field :affectsversions %>
      </div>
  <div class="field">
        <%= f.label :fixversions %><br>
    <%= f.text_field :fixversions %>
      </div>
  <div class="field">
        <%= f.label :assignee %><br>
    <%= f.text_field :assignee %>
      </div>
  <div class="field">
        <%= f.label :environment %><br>
    <%= f.text_field :environment %>
      </div>
  <div class="field">
        <%= f.label :description %><br>
    <%= f.text_field :description %>
      </div>
  <div class="field">
        <%= f.label :labels %><br>
    <%= f.text_field :labels %>
      </div>
  <div class="field">
        <%= f.label :epic %><br>
    <%= f.text_field :epic %>
      </div>
  <div class="field">
        <%= f.label :sprint %><br>
    <%= f.text_field :sprint %>
      </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
