<p id="notice"><%= notice %></p>

<h1>Listing Issues</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Project</th>
      <th>Issuetype</th>
      <th>Summary</th>
      <th>Storypoints</th>
      <th>Priority</th>
      <th>Duedate</th>
      <th>Components</th>
      <th>Affectsversions</th>
      <th>Fixversions</th>
      <th>Assignee</th>
      <th>Environment</th>
      <th>Description</th>
      <th>Labels</th>
      <th>Epic</th>
      <th>Sprint</th>
      
    </tr>
  </thead>

  <tbody>
    <% @issues.each do |issue| %>
      <tr>
        <td><%= issue.code %></td>
        <td><%= issue.project %></td>
        <td><%= issue.issuetype %></td>
        <td><%= issue.summary %></td>
        <td><%= issue.storypoints %></td>
        <td><%= issue.priority %></td>
        <td><%= issue.duedate %></td>
        <td><%= issue.components %></td>
        <td><%= issue.affectsversions %></td>
        <td><%= issue.fixversions %></td>
        <td><%= issue.assignee %></td>
        <td><%= issue.environment %></td>
        <td><%= issue.description %></td>
        <td><%= issue.labels %></td>
        <td><%= issue.epic %></td>
        <td><%= issue.sprint %></td>
      <td>
      <div class="w3-dropdown-hover">
    <button class="w3-button">Actions</button>
    <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <td><%= link_to 'Show', issue, :class => 'w3-bar-item w3-button' %></td>
        <td><%= link_to 'Edit', edit_issue_path(issue), :class => 'w3-bar-item w3-button' %></td>
        <td><%= link_to 'Destroy', issue, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'w3-bar-item w3-button' %></td>
          </div>
  </div>
</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Issue', new_issue_path %>
