<%= form_for(@salesforceuser) do |f| %>
  <% if @salesforceuser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@salesforceuser.errors.count, "error") %> prohibited this salesforceuser from being saved:</h2>

      <ul>
      <% @salesforceuser.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
        <%= f.label :name %><br>
    <%= f.text_field :name %>
      </div>
  <div class="field">
        <%= f.label :alias %><br>
    <%= f.text_field :alias %>
      </div>
  <div class="field">
        <%= f.label :email %><br>
    <%= f.text_field :email %>
      </div>
  <div class="field">
        <%= f.label :username %><br>
    <%= f.text_field :username %>
      </div>
  <div class="field">
        <%= f.label :communitynickname %><br>
    <%= f.text_field :communitynickname %>
      </div>
  <div class="field">
        <%= f.label :title %><br>
    <%= f.text_field :title %>
      </div>
  <div class="field">
        <%= f.label :company %><br>
    <%= f.text_field :company %>
      </div>
  <div class="field">
        <%= f.label :department %><br>
    <%= f.text_field :department %>
      </div>
  <div class="field">
        <%= f.label :division %><br>
    <%= f.text_field :division %>
      </div>
  <div class="field">
        <%= f.label :address %><br>
    <%= f.text_field :address %>
      </div>
  <div class="field">
        <%= f.label :timezone %><br>
    <%= f.text_field :timezone %>
      </div>
  <div class="field">
        <%= f.label :locale %><br>
    <%= f.text_field :locale %>
      </div>
  <div class="field">
        <%= f.label :language %><br>
    <%= f.text_field :language %>
      </div>
  <div class="field">
        <%= f.label :delegatedapprover %><br>
    <%= f.text_field :delegatedapprover %>
      </div>
  <div class="field">
        <%= f.label :manager %><br>
    <%= f.text_field :manager %>
      </div>
  <div class="field">
        <%= f.label :role %><br>
    <%= f.text_field :role %>
      </div>
  <div class="field">
        <%= f.label :userlicense %><br>
    <%= f.text_field :userlicense %>
      </div>
  <div class="field">
        <%= f.label :profile %><br>
    <%= f.text_field :profile %>
      </div>
  <div class="field">
        <%= f.label :active %><br>
    <%= f.check_box :active %>
      </div>
  <div class="field">
        <%= f.label :marketinguser %><br>
    <%= f.check_box :marketinguser %>
      </div>
  <div class="field">
        <%= f.label :offlineuser %><br>
    <%= f.check_box :offlineuser %>
      </div>
  <div class="field">
        <%= f.label :knowledgeuser %><br>
    <%= f.check_box :knowledgeuser %>
      </div>
  <div class="field">
        <%= f.label :forcecomflowuser %><br>
    <%= f.check_box :forcecomflowuser %>
      </div>
  <div class="field">
        <%= f.label :serviceclouduser %><br>
    <%= f.check_box :serviceclouduser %>
      </div>
  <div class="field">
        <%= f.label :sitecomcontributoruser %><br>
    <%= f.check_box :sitecomcontributoruser %>
      </div>
  <div class="field">
        <%= f.label :sitecompublisheruser %><br>
    <%= f.check_box :sitecompublisheruser %>
      </div>
  <div class="field">
        <%= f.label :mobileuser %><br>
    <%= f.check_box :mobileuser %>
      </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
