<%= form_for(@salesforceuser, :html => { :class => "w3-container" }) do |f| %>
  <% if @salesforceuser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@salesforceuser.errors.count, "error") %> prohibited this salesforceuser from being saved:</h2>

      <ul>
      <% @salesforceuser.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, class: 'w3-input' %>
    <%= f.label :name %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :alias, class: 'w3-input' %>
    <%= f.label :alias %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :email, class: 'w3-input' %>
    <%= f.label :email %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :username, class: 'w3-input' %>
    <%= f.label :username %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :communitynickname, class: 'w3-input' %>
    <%= f.label :communitynickname %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :title, class: 'w3-input' %>
    <%= f.label :title %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :company, class: 'w3-input' %>
    <%= f.label :company %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :department, class: 'w3-input' %>
    <%= f.label :department %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :division, class: 'w3-input' %>
    <%= f.label :division %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :address, class: 'w3-input' %>
    <%= f.label :address %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :timezone, class: 'w3-input' %>
    <%= f.label :timezone %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :locale, class: 'w3-input' %>
    <%= f.label :locale %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :language, class: 'w3-input' %>
    <%= f.label :language %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :delegatedapprover, class: 'w3-input' %>
    <%= f.label :delegatedapprover %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :manager, class: 'w3-input' %>
    <%= f.label :manager %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :role, class: 'w3-input' %>
    <%= f.label :role %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :userlicense, class: 'w3-input' %>
    <%= f.label :userlicense %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :profile, class: 'w3-input' %>
    <%= f.label :profile %><br>
    <p>
  </div>
  <div class="field">
    <%= f.check_box :active, class: 'w3-input' %>
    <%= f.label :active %><br>
    <p>
  </div>
  <div class="field">
    <%= f.check_box :marketinguser, class: 'w3-input' %>
    <%= f.label :marketinguser %><br>
    <p>
  </div>
  <div class="field">
    <%= f.check_box :offlineuser, class: 'w3-input' %>
    <%= f.label :offlineuser %><br>
    <p>
  </div>
  <div class="field">
    <%= f.check_box :knowledgeuser, class: 'w3-input' %>
    <%= f.label :knowledgeuser %><br>
    <p>
  </div>
  <div class="field">
    <%= f.check_box :forcecomflowuser, class: 'w3-input' %>
    <%= f.label :forcecomflowuser %><br>
    <p>
  </div>
  <div class="field">
    <%= f.check_box :serviceclouduser, class: 'w3-input' %>
    <%= f.label :serviceclouduser %><br>
    <p>
  </div>
  <div class="field">
    <%= f.check_box :sitecomcontributoruser, class: 'w3-input' %>
    <%= f.label :sitecomcontributoruser %><br>
    <p>
  </div>
  <div class="field">
    <%= f.check_box :sitecompublisheruser, class: 'w3-input' %>
    <%= f.label :sitecompublisheruser %><br>
    <p>
  </div>
  <div class="field">
    <%= f.check_box :mobileuser, class: 'w3-input' %>
    <%= f.label :mobileuser %><br>
    <p>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
