<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @salesforceuser.name %>
</p>

<p>
  <strong>Alias:</strong>
  <%= @salesforceuser.alias %>
</p>

<p>
  <strong>Email:</strong>
  <%= @salesforceuser.email %>
</p>

<p>
  <strong>Username:</strong>
  <%= @salesforceuser.username %>
</p>

<p>
  <strong>Communitynickname:</strong>
  <%= @salesforceuser.communitynickname %>
</p>

<p>
  <strong>Title:</strong>
  <%= @salesforceuser.title %>
</p>

<p>
  <strong>Company:</strong>
  <%= @salesforceuser.company %>
</p>

<p>
  <strong>Department:</strong>
  <%= @salesforceuser.department %>
</p>

<p>
  <strong>Division:</strong>
  <%= @salesforceuser.division %>
</p>

<p>
  <strong>Address:</strong>
  <%= @salesforceuser.address %>
</p>

<p>
  <strong>Timezone:</strong>
  <%= @salesforceuser.timezone %>
</p>

<p>
  <strong>Locale:</strong>
  <%= @salesforceuser.locale %>
</p>

<p>
  <strong>Language:</strong>
  <%= @salesforceuser.language %>
</p>

<p>
  <strong>Delegatedapprover:</strong>
  <%= @salesforceuser.delegatedapprover %>
</p>

<p>
  <strong>Manager:</strong>
  <%= @salesforceuser.manager %>
</p>

<p>
  <strong>Role:</strong>
  <%= @salesforceuser.role %>
</p>

<p>
  <strong>Userlicense:</strong>
  <%= @salesforceuser.userlicense %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @salesforceuser.profile %>
</p>

<p>
  <strong>Active:</strong>
  <%= @salesforceuser.active %>
</p>

<p>
  <strong>Marketinguser:</strong>
  <%= @salesforceuser.marketinguser %>
</p>

<p>
  <strong>Offlineuser:</strong>
  <%= @salesforceuser.offlineuser %>
</p>

<p>
  <strong>Knowledgeuser:</strong>
  <%= @salesforceuser.knowledgeuser %>
</p>

<p>
  <strong>Forcecomflowuser:</strong>
  <%= @salesforceuser.forcecomflowuser %>
</p>

<p>
  <strong>Serviceclouduser:</strong>
  <%= @salesforceuser.serviceclouduser %>
</p>

<p>
  <strong>Sitecomcontributoruser:</strong>
  <%= @salesforceuser.sitecomcontributoruser %>
</p>

<p>
  <strong>Sitecompublisheruser:</strong>
  <%= @salesforceuser.sitecompublisheruser %>
</p>

<p>
  <strong>Mobileuser:</strong>
  <%= @salesforceuser.mobileuser %>
</p>

<%= link_to 'Edit', edit_salesforceuser_path(@salesforceuser) %> |
<%= link_to 'Back', salesforceusers_path %>
