<%= form_for(@lead, :html => { :class => "w3-container" }) do |f| %>
  <% if @lead.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lead.errors.count, "error") %> prohibited this lead from being saved:</h2>

      <ul>
      <% @lead.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :code, class: 'w3-input' %>
    <%= f.label :code %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :owner, class: 'w3-input' %>
    <%= f.label :owner %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :firstname, class: 'w3-input' %>
    <%= f.label :firstname %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :lastname, class: 'w3-input' %>
    <%= f.label :lastname %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :company, class: 'w3-input' %>
    <%= f.label :company %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :title, class: 'w3-input' %>
    <%= f.label :title %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :status, class: 'w3-input' %>
    <%= f.label :status %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :phone, class: 'w3-input' %>
    <%= f.label :phone %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :email, class: 'w3-input' %>
    <%= f.label :email %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :street, class: 'w3-input' %>
    <%= f.label :street %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :city, class: 'w3-input' %>
    <%= f.label :city %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :state, class: 'w3-input' %>
    <%= f.label :state %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :zipcode, class: 'w3-input' %>
    <%= f.label :zipcode %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :county, class: 'w3-input' %>
    <%= f.label :county %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :website, class: 'w3-input' %>
    <%= f.label :website %><br>
    <p>
  </div>
  <div class="field">
    <%= f.number_field :numberofemployees, class: 'w3-input' %>
    <%= f.label :numberofemployees %><br>
    <p>
  </div>
  <div class="field">
    <%= f.number_field :annualrevenue, class: 'w3-input' %>
    <%= f.label :annualrevenue %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :source, class: 'w3-input' %>
    <%= f.label :source %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :industry, class: 'w3-input' %>
    <%= f.label :industry %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :description, class: 'w3-input' %>
    <%= f.label :description %><br>
    <p>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
