<p id="notice"><%= notice %></p>

<h1>Listing Projects</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Identifier</th>
      <th>Homepage</th>
      <th>Public</th>
      <th>Subprojectof</th>
      <th>Bugtracker</th>
      <th>Featuretracker</th>
      <th>Supporttracker</th>
      
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.description %></td>
        <td><%= project.identifier %></td>
        <td><%= project.homepage %></td>
        <td><%= project.public %></td>
        <td><%= project.subprojectof %></td>
        <td><%= project.bugtracker %></td>
        <td><%= project.featuretracker %></td>
        <td><%= project.supporttracker %></td>
      <td>
      <div class="w3-dropdown-hover">
    <button class="w3-button">Actions</button>
    <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <td><%= link_to 'Show', project, :class => 'w3-bar-item w3-button' %></td>
        <td><%= link_to 'Edit', edit_project_path(project), :class => 'w3-bar-item w3-button' %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'w3-bar-item w3-button' %></td>
          </div>
  </div>
</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
