<p id="notice"><%= notice %></p>

<h1>Listing Projects</h1>

<table class="w3-table-all">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Identifier</th>
      <th>Homepage</th>
      <th>Public</th>
      <th>Subprojectof</th>
      <th>Bugtracker</th>
      <th>Featuretracker</th>
      <th>Supporttracker</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.description %></td>
        <td><%= project.identifier %></td>
        <td><%= project.homepage %></td>
        <td><%= project.public %></td>
        <td><%= project.subprojectof %></td>
        <td><%= project.bugtracker %></td>
        <td><%= project.featuretracker %></td>
        <td><%= project.supporttracker %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
