<%= form_for(@testcase, :html => { :class => "w3-container" }) do |f| %>
  <% if @testcase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@testcase.errors.count, "error") %> prohibited this testcase from being saved:</h2>

      <ul>
      <% @testcase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :code, class: 'w3-input' %>
    <%= f.label :code %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :title, class: 'w3-input' %>
    <%= f.label :title %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :summary, class: 'w3-input' %>
    <%= f.label :summary %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :preconditions, class: 'w3-input' %>
    <%= f.label :preconditions %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :status, class: 'w3-input' %>
    <%= f.label :status %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :importance, class: 'w3-input' %>
    <%= f.label :importance %><br>
    <p>
  </div>
  <div class="field">
    <%= f.number_field :minutes, class: 'w3-input' %>
    <%= f.label :minutes %><br>
    <p>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
