<p id="notice"><%= notice %></p>

<h1>Listing Testcases</h1>

<ul class="w3-ul w3-hoverable">

    <% @testcases.each do |testcase| %>
      
      <li class="w3-border">

      
   <p> <span class="w3-tag w3-blue"><%= testcase.code %></span> </p>    
   <p> <span class="w3-tag w3-blue"><%= testcase.title %></span> </p>    
   <p> <span class="w3-tag w3-blue"><%= testcase.summary %></span> </p>    
   <p> <span class="w3-tag w3-blue"><%= testcase.preconditions %></span> </p>    
   <p> <span class="w3-tag w3-blue"><%= testcase.status %></span> </p>    
   <p> <span class="w3-tag w3-blue"><%= testcase.importance %></span> </p>    
   <p> <span class="w3-tag w3-blue"><%= testcase.minutes %></span> </p>    
        </li>
    <% end %>

</ul>

<br>

<%= link_to 'New Testcase', new_testcase_path %>


