<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @testcase.code %>
</p>

<p>
  <strong>Title:</strong>
  <%= @testcase.title %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @testcase.summary %>
</p>

<p>
  <strong>Preconditions:</strong>
  <%= @testcase.preconditions %>
</p>

<p>
  <strong>Status:</strong>
  <%= @testcase.status %>
</p>

<p>
  <strong>Importance:</strong>
  <%= @testcase.importance %>
</p>

<p>
  <strong>Minutes:</strong>
  <%= @testcase.minutes %>
</p>

<%= link_to 'Edit', edit_testcase_path(@testcase) %> |
<%= link_to 'Back', testcases_path %>
