<%= form_for(@bugzillauser, :html => { :class => "w3-container" }) do |f| %>
  <% if @bugzillauser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bugzillauser.errors.count, "error") %> prohibited this bugzillauser from being saved:</h2>

      <ul>
      <% @bugzillauser.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :loginname, class: 'w3-input' %>
    <%= f.label :loginname %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :realname, class: 'w3-input' %>
    <%= f.label :realname %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :password, class: 'w3-input' %>
    <%= f.label :password %><br>
    <p>
  </div>
  <div class="field">
    <%= f.check_box :bugmaildisabled, class: 'w3-input' %>
    <%= f.label :bugmaildisabled %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :disabletext, class: 'w3-input' %>
    <%= f.label :disabletext %><br>
    <p>
  </div>
  <div class="field">
    <%= f.check_box :adminpermission, class: 'w3-input' %>
    <%= f.label :adminpermission %><br>
    <p>
  </div>
  <div class="field">
    <%= f.check_box :creategroupspermission, class: 'w3-input' %>
    <%= f.label :creategroupspermission %><br>
    <p>
  </div>
  <div class="field">
    <%= f.check_box :edituserspermission, class: 'w3-input' %>
    <%= f.label :edituserspermission %><br>
    <p>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
