<%= form_for(@bugzillauser) do |f| %>
  <% if @bugzillauser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bugzillauser.errors.count, "error") %> prohibited this bugzillauser from being saved:</h2>

      <ul>
      <% @bugzillauser.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
        <%= f.label :loginname %><br>
    <%= f.text_field :loginname %>
      </div>
  <div class="field">
        <%= f.label :realname %><br>
    <%= f.text_field :realname %>
      </div>
  <div class="field">
        <%= f.label :password %><br>
    <%= f.text_field :password %>
      </div>
  <div class="field">
        <%= f.label :bugmaildisabled %><br>
    <%= f.check_box :bugmaildisabled %>
      </div>
  <div class="field">
        <%= f.label :disabletext %><br>
    <%= f.text_field :disabletext %>
      </div>
  <div class="field">
        <%= f.label :adminpermission %><br>
    <%= f.check_box :adminpermission %>
      </div>
  <div class="field">
        <%= f.label :creategroupspermission %><br>
    <%= f.check_box :creategroupspermission %>
      </div>
  <div class="field">
        <%= f.label :edituserspermission %><br>
    <%= f.check_box :edituserspermission %>
      </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
