<p id="notice"><%= notice %></p>

<h1>Listing Bugzillausers</h1>

<table>
  <thead>
    <tr>
      <th>Loginname</th>
      <th>Realname</th>
      <th>Password</th>
      <th>Bugmaildisabled</th>
      <th>Disabletext</th>
      <th>Adminpermission</th>
      <th>Creategroupspermission</th>
      <th>Edituserspermission</th>
      
    </tr>
  </thead>

  <tbody>
    <% @bugzillausers.each do |bugzillauser| %>
      <tr>
        <td><%= bugzillauser.loginname %></td>
        <td><%= bugzillauser.realname %></td>
        <td><%= bugzillauser.password %></td>
        <td><%= bugzillauser.bugmaildisabled %></td>
        <td><%= bugzillauser.disabletext %></td>
        <td><%= bugzillauser.adminpermission %></td>
        <td><%= bugzillauser.creategroupspermission %></td>
        <td><%= bugzillauser.edituserspermission %></td>
      <td>
      <div class="w3-dropdown-hover">
    <button class="w3-button">Actions</button>
    <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <td><%= link_to 'Show', bugzillauser, :class => 'w3-bar-item w3-button' %></td>
        <td><%= link_to 'Edit', edit_bugzillauser_path(bugzillauser), :class => 'w3-bar-item w3-button' %></td>
        <td><%= link_to 'Destroy', bugzillauser, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'w3-bar-item w3-button' %></td>
          </div>
  </div>
</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bugzillauser', new_bugzillauser_path %>
