<p id="notice"><%= notice %></p>

<p>
  <strong>Loginname:</strong>
  <%= @bugzillauser.loginname %>
</p>

<p>
  <strong>Realname:</strong>
  <%= @bugzillauser.realname %>
</p>

<p>
  <strong>Password:</strong>
  <%= @bugzillauser.password %>
</p>

<p>
  <strong>Bugmaildisabled:</strong>
  <%= @bugzillauser.bugmaildisabled %>
</p>

<p>
  <strong>Disabletext:</strong>
  <%= @bugzillauser.disabletext %>
</p>

<p>
  <strong>Adminpermission:</strong>
  <%= @bugzillauser.adminpermission %>
</p>

<p>
  <strong>Creategroupspermission:</strong>
  <%= @bugzillauser.creategroupspermission %>
</p>

<p>
  <strong>Edituserspermission:</strong>
  <%= @bugzillauser.edituserspermission %>
</p>

<%= link_to 'Edit', edit_bugzillauser_path(@bugzillauser) %> |
<%= link_to 'Back', bugzillausers_path %>
