<p id="notice"><%%= notice %></p>

<h1>Listing <%= plural_table_name.titleize %></h1>

<% if singular_table_name == "testcase" or singular_table_name == "quiz" or singular_table_name == "course" -%>
<ul class="w3-ul w3-hoverable">

    <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
      
      <li class="w3-border">

      
<% attributes.reject(&:password_digest?).each do |attribute| -%>
  <% if attribute.name.present? -%> <p> <span class="w3-tag w3-blue"><%%= <%= singular_table_name %>.<%= attribute.name %> %></span> </p>  <% end -%>
  
<% end -%>
        </li>
    <%% end %>

</ul>
<% else -%>
<table>
  <thead>
    <tr>
<% attributes.reject(&:password_digest?).each do |attribute| -%>
      <th><%= attribute.human_name %></th>
<% end -%>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
      <tr>
<% attributes.reject(&:password_digest?).each do |attribute| -%>
        <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
<% end -%>
        <td><%%= link_to 'Show', <%= singular_table_name %> %></td>
        <td><%%= link_to 'Edit', edit_<%= singular_table_name %>_path(<%= singular_table_name %>) %></td>
        <td><%%= link_to 'Destroy', <%= singular_table_name %>, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%% end %>
  </tbody>
</table>

<br>
  
<% end -%>

<br>

<%%= link_to 'New <%= human_name %>', new_<%= singular_table_name %>_path %>


