<h1>New <%= singular_table_name.titleize %></h1>

<%%= render 'form' %>

<datalist id="<%= singular_table_name %>_status_list">
  <option value="Open">
  <option value="Closed">
  <option value="On going">
  <option value="Review">
  <option value="Cancelled">
</datalist>
<input list="<%= singular_table_name %>_status_list" id="<%= singular_table_name %>_status">

<%%= link_to 'Back', <%= index_helper %>_path %>
