<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :fullname %><br>
    <%= f.text_field :fullname %>
  </div>
  <div class="field">
    <%= f.label :shortname %><br>
    <%= f.text_field :shortname %>
  </div>
  <div class="field">
    <%= f.label :courseidnumber %><br>
    <%= f.number_field :courseidnumber %>
  </div>
  <div class="field">
    <%= f.label :summary %><br>
    <%= f.text_field :summary %>
  </div>
  <div class="field">
    <%= f.label :format %><br>
    <%= f.text_field :format %>
  </div>
  <div class="field">
    <%= f.label :numberofweekstopics %><br>
    <%= f.number_field :numberofweekstopics %>
  </div>
  <div class="field">
    <%= f.label :start %><br>
    <%= f.date_select :start %>
  </div>
  <div class="field">
    <%= f.label :hiddensections %><br>
    <%= f.text_field :hiddensections %>
  </div>
  <div class="field">
    <%= f.label :newsitemstoshow %><br>
    <%= f.number_field :newsitemstoshow %>
  </div>
  <div class="field">
    <%= f.label :showgrades %><br>
    <%= f.check_box :showgrades %>
  </div>
  <div class="field">
    <%= f.label :showactivityreports %><br>
    <%= f.check_box :showactivityreports %>
  </div>
  <div class="field">
    <%= f.label :maxuploadsize %><br>
    <%= f.number_field :maxuploadsize %>
  </div>
  <div class="field">
    <%= f.label :defaultroles %><br>
    <%= f.text_field :defaultroles %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
