<%= form_for(@course, :html => { :class => "w3-container" }) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :code, class: 'w3-input' %>
    <%= f.label :code %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :fullname, class: 'w3-input' %>
    <%= f.label :fullname %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :shortname, class: 'w3-input' %>
    <%= f.label :shortname %><br>
    <p>
  </div>
  <div class="field">
    <%= f.number_field :courseidnumber, class: 'w3-input' %>
    <%= f.label :courseidnumber %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :summary, class: 'w3-input' %>
    <%= f.label :summary %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :format, class: 'w3-input' %>
    <%= f.label :format %><br>
    <p>
  </div>
  <div class="field">
    <%= f.number_field :numberofweekstopics, class: 'w3-input' %>
    <%= f.label :numberofweekstopics %><br>
    <p>
  </div>
  <div class="field">
    <%= f.date_select :start, class: 'w3-input' %>
    <%= f.label :start %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :hiddensections, class: 'w3-input' %>
    <%= f.label :hiddensections %><br>
    <p>
  </div>
  <div class="field">
    <%= f.number_field :newsitemstoshow, class: 'w3-input' %>
    <%= f.label :newsitemstoshow %><br>
    <p>
  </div>
  <div class="field">
    <%= f.check_box :showgrades, class: 'w3-input' %>
    <%= f.label :showgrades %><br>
    <p>
  </div>
  <div class="field">
    <%= f.check_box :showactivityreports, class: 'w3-input' %>
    <%= f.label :showactivityreports %><br>
    <p>
  </div>
  <div class="field">
    <%= f.number_field :maxuploadsize, class: 'w3-input' %>
    <%= f.label :maxuploadsize %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :defaultroles, class: 'w3-input' %>
    <%= f.label :defaultroles %><br>
    <p>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
