<p id="notice"><%= notice %></p>

<h1>Listing Courses</h1>

<ul class="w3-ul w3-hoverable">

    <% @courses.each do |course| %>
      
      <li class="w3-border">

      
   <p> <span class="w3-tag w3-blue"><%= course.code %></span> </p>    
   <p> <span class="w3-tag w3-blue"><%= course.fullname %></span> </p>    
   <p> <span class="w3-tag w3-blue"><%= course.shortname %></span> </p>    
   <p> <span class="w3-tag w3-blue"><%= course.courseidnumber %></span> </p>    
   <p> <span class="w3-tag w3-blue"><%= course.summary %></span> </p>    
   <p> <span class="w3-tag w3-blue"><%= course.format %></span> </p>    
   <p> <span class="w3-tag w3-blue"><%= course.numberofweekstopics %></span> </p>    
   <p> <span class="w3-tag w3-blue"><%= course.start %></span> </p>    
   <p> <span class="w3-tag w3-blue"><%= course.hiddensections %></span> </p>    
   <p> <span class="w3-tag w3-blue"><%= course.newsitemstoshow %></span> </p>    
   <p> <span class="w3-tag w3-blue"><%= course.showgrades %></span> </p>    
   <p> <span class="w3-tag w3-blue"><%= course.showactivityreports %></span> </p>    
   <p> <span class="w3-tag w3-blue"><%= course.maxuploadsize %></span> </p>    
   <p> <span class="w3-tag w3-blue"><%= course.defaultroles %></span> </p>    
        </li>
    <% end %>

</ul>

<br>

<%= link_to 'New Course', new_course_path %>


