<%= form_for(@bug, :html => { :class => "w3-container" }) do |f| %>
  <% if @bug.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bug.errors.count, "error") %> prohibited this bug from being saved:</h2>

      <ul>
      <% @bug.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :code, class: 'w3-input' %>
    <%= f.label :code %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :product, class: 'w3-input' %>
    <%= f.label :product %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :component, class: 'w3-input' %>
    <%= f.label :component %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :version, class: 'w3-input' %>
    <%= f.label :version %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :summary, class: 'w3-input' %>
    <%= f.label :summary %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :description, class: 'w3-input' %>
    <%= f.label :description %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :hardware, class: 'w3-input' %>
    <%= f.label :hardware %><br>
    <p>
  </div>
  <div class="field">
    <%= f.number_field :importance, class: 'w3-input' %>
    <%= f.label :importance %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :targetmilestone, class: 'w3-input' %>
    <%= f.label :targetmilestone %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :assignedto, class: 'w3-input' %>
    <%= f.label :assignedto %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :qacontact, class: 'w3-input' %>
    <%= f.label :qacontact %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :url, class: 'w3-input' %>
    <%= f.label :url %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :whiteboard, class: 'w3-input' %>
    <%= f.label :whiteboard %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :keywords, class: 'w3-input' %>
    <%= f.label :keywords %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :tags, class: 'w3-input' %>
    <%= f.label :tags %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :dependson, class: 'w3-input' %>
    <%= f.label :dependson %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :blocks, class: 'w3-input' %>
    <%= f.label :blocks %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :origestimated, class: 'w3-input' %>
    <%= f.label :origestimated %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :hoursworked, class: 'w3-input' %>
    <%= f.label :hoursworked %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :hoursleft, class: 'w3-input' %>
    <%= f.label :hoursleft %><br>
    <p>
  </div>
  <div class="field">
    <%= f.date_select :deadline, class: 'w3-input' %>
    <%= f.label :deadline %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :additionalcomments, class: 'w3-input' %>
    <%= f.label :additionalcomments %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :status, class: 'w3-input' %>
    <%= f.label :status %><br>
    <p>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
