<%= form_for(@bug) do |f| %>
  <% if @bug.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bug.errors.count, "error") %> prohibited this bug from being saved:</h2>

      <ul>
      <% @bug.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
        <%= f.label :code %><br>
    <%= f.text_field :code %>
      </div>
  <div class="field">
        <%= f.label :product %><br>
    <%= f.text_field :product %>
      </div>
  <div class="field">
        <%= f.label :component %><br>
    <%= f.text_field :component %>
      </div>
  <div class="field">
        <%= f.label :version %><br>
    <%= f.text_field :version %>
      </div>
  <div class="field">
        <%= f.label :summary %><br>
    <%= f.text_field :summary %>
      </div>
  <div class="field">
        <%= f.label :description %><br>
    <%= f.text_field :description %>
      </div>
  <div class="field">
        <%= f.label :hardware %><br>
    <%= f.text_field :hardware %>
      </div>
  <div class="field">
        <%= f.number_field :importance, {min: "0", max: "500"} %>
      </div>
  <div class="field">
        <%= f.label :targetmilestone %><br>
    <%= f.text_field :targetmilestone %>
      </div>
  <div class="field">
        <%= f.label :assignedto %><br>
    <%= f.text_field :assignedto %>
      </div>
  <div class="field">
        <%= f.label :qacontact %><br>
    <%= f.text_field :qacontact %>
      </div>
  <div class="field">
        <%= f.label :url %><br>
    <%= f.text_field :url %>
      </div>
  <div class="field">
        <%= f.label :whiteboard %><br>
    <%= f.text_field :whiteboard %>
      </div>
  <div class="field">
        <%= f.label :keywords %><br>
    <%= f.text_field :keywords %>
      </div>
  <div class="field">
        <%= f.label :tags %><br>
    <%= f.text_field :tags %>
      </div>
  <div class="field">
        <%= f.label :dependson %><br>
    <%= f.text_field :dependson %>
      </div>
  <div class="field">
        <%= f.label :blocks %><br>
    <%= f.text_field :blocks %>
      </div>
  <div class="field">
        <%= f.label :origestimated %><br>
    <%= f.text_field :origestimated %>
      </div>
  <div class="field">
        <%= f.label :hoursworked %><br>
    <%= f.text_field :hoursworked %>
      </div>
  <div class="field">
        <%= f.label :hoursleft %><br>
    <%= f.text_field :hoursleft %>
      </div>
  <div class="field">
        <%= f.label :deadline %><br>
    <%= f.date_select :deadline %>
      </div>
  <div class="field">
        <%= f.label :additionalcomments %><br>
    <%= f.text_field :additionalcomments %>
      </div>
  <div class="field">
        <%= f.label :status %><br>
    <%= f.text_field :status %>
      </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
