<%= form_for(@campaign) do |f| %>
  <% if @campaign.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@campaign.errors.count, "error") %> prohibited this campaign from being saved:</h2>

      <ul>
      <% @campaign.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
        <%= f.label :code %><br>
    <%= f.text_field :code %>
      </div>
  <div class="field">
        <%= f.label :owner %><br>
    <%= f.text_field :owner %>
      </div>
  <div class="field">
        <%= f.label :name %><br>
    <%= f.text_field :name %>
      </div>
  <div class="field">
        <%= f.label :active %><br>
    <%= f.check_box :active %>
      </div>
  <div class="field">
        <%= f.label :type %><br>
    <%= f.text_field :type %>
      </div>
  <div class="field">
        <%= f.label :status %><br>
    <%= f.text_field :status %>
      </div>
  <div class="field">
        <%= f.label :start %><br>
    <%= f.date_select :start %>
      </div>
  <div class="field">
        <%= f.label :end %><br>
    <%= f.date_select :end %>
      </div>
  <div class="field">
        <%= f.number_field :expectedrevenue, {min: "0", max: "500"} %>
      </div>
  <div class="field">
        <%= f.number_field :budgetedcost, {min: "0", max: "500"} %>
      </div>
  <div class="field">
        <%= f.number_field :actualcost, {min: "0", max: "500"} %>
      </div>
  <div class="field">
        <%= f.label :expectedresponse %><br>
    <%= f.text_field :expectedresponse %>
      </div>
  <div class="field">
        <%= f.number_field :numsent, {min: "0", max: "500"} %>
      </div>
  <div class="field">
        <%= f.label :parentcampaign %><br>
    <%= f.text_field :parentcampaign %>
      </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
