<%= form_for(@product, :html => { :class => "w3-container" }) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :code, class: 'w3-input' %>
    <%= f.label :code %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :name, class: 'w3-input' %>
    <%= f.label :name %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :model, class: 'w3-input' %>
    <%= f.label :model %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :sku, class: 'w3-input' %>
    <%= f.label :sku %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :weight, class: 'w3-input' %>
    <%= f.label :weight %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :manufacturer, class: 'w3-input' %>
    <%= f.label :manufacturer %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :status, class: 'w3-input' %>
    <%= f.label :status %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :taxclass, class: 'w3-input' %>
    <%= f.label :taxclass %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :urlkey, class: 'w3-input' %>
    <%= f.label :urlkey %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :visibility, class: 'w3-input' %>
    <%= f.label :visibility %><br>
    <p>
  </div>
  <div class="field">
    <%= f.date_select :setproductasnewfromdate, class: 'w3-input' %>
    <%= f.label :setproductasnewfromdate %><br>
    <p>
  </div>
  <div class="field">
    <%= f.date_select :setproductasnewtodate, class: 'w3-input' %>
    <%= f.label :setproductasnewtodate %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :countryofmanufacture, class: 'w3-input' %>
    <%= f.label :countryofmanufacture %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :price, class: 'w3-input' %>
    <%= f.label :price %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :cost, class: 'w3-input' %>
    <%= f.label :cost %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :specialprice, class: 'w3-input' %>
    <%= f.label :specialprice %><br>
    <p>
  </div>
  <div class="field">
    <%= f.date_select :specialpricefromdate, class: 'w3-input' %>
    <%= f.label :specialpricefromdate %><br>
    <p>
  </div>
  <div class="field">
    <%= f.date_select :specialpricetodate, class: 'w3-input' %>
    <%= f.label :specialpricetodate %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :applymap, class: 'w3-input' %>
    <%= f.label :applymap %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :displayactualprice, class: 'w3-input' %>
    <%= f.label :displayactualprice %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :suggestedretailprice, class: 'w3-input' %>
    <%= f.label :suggestedretailprice %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :metatitle, class: 'w3-input' %>
    <%= f.label :metatitle %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :metakeywords, class: 'w3-input' %>
    <%= f.label :metakeywords %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :metadescription, class: 'w3-input' %>
    <%= f.label :metadescription %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :shortdescription, class: 'w3-input' %>
    <%= f.label :shortdescription %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :description, class: 'w3-input' %>
    <%= f.label :description %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :indepth, class: 'w3-input' %>
    <%= f.label :indepth %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :dimensions, class: 'w3-input' %>
    <%= f.label :dimensions %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :activationinformation, class: 'w3-input' %>
    <%= f.label :activationinformation %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :color, class: 'w3-input' %>
    <%= f.label :color %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :customdesign, class: 'w3-input' %>
    <%= f.label :customdesign %><br>
    <p>
  </div>
  <div class="field">
    <%= f.date_select :activefrom, class: 'w3-input' %>
    <%= f.label :activefrom %><br>
    <p>
  </div>
  <div class="field">
    <%= f.date_select :activeto, class: 'w3-input' %>
    <%= f.label :activeto %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :customlayoutupdate, class: 'w3-input' %>
    <%= f.label :customlayoutupdate %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :displayproductoptionsin, class: 'w3-input' %>
    <%= f.label :displayproductoptionsin %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :pagelayout, class: 'w3-input' %>
    <%= f.label :pagelayout %><br>
    <p>
  </div>
  <div class="field">
    <%= f.check_box :enablerecurringprofile, class: 'w3-input' %>
    <%= f.label :enablerecurringprofile %><br>
    <p>
  </div>
  <div class="field">
    <%= f.check_box :allowgiftmessage, class: 'w3-input' %>
    <%= f.label :allowgiftmessage %><br>
    <p>
  </div>
  <div class="field">
    <%= f.check_box :managestock, class: 'w3-input' %>
    <%= f.label :managestock %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :qty, class: 'w3-input' %>
    <%= f.label :qty %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :qtyforitemsstatustobecomeoutofstock, class: 'w3-input' %>
    <%= f.label :qtyforitemsstatustobecomeoutofstock %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :minimumqtyallowedinshoppingcart, class: 'w3-input' %>
    <%= f.label :minimumqtyallowedinshoppingcart %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :maximumqtyallowedinshoppingcart, class: 'w3-input' %>
    <%= f.label :maximumqtyallowedinshoppingcart %><br>
    <p>
  </div>
  <div class="field">
    <%= f.check_box :qtyusesdecimals, class: 'w3-input' %>
    <%= f.label :qtyusesdecimals %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :backorders, class: 'w3-input' %>
    <%= f.label :backorders %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :notifyforquantitybelow, class: 'w3-input' %>
    <%= f.label :notifyforquantitybelow %><br>
    <p>
  </div>
  <div class="field">
    <%= f.check_box :enableqtyincrements, class: 'w3-input' %>
    <%= f.label :enableqtyincrements %><br>
    <p>
  </div>
  <div class="field">
    <%= f.check_box :stockavailability, class: 'w3-input' %>
    <%= f.label :stockavailability %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :tags, class: 'w3-input' %>
    <%= f.label :tags %><br>
    <p>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
