<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
        <%= f.label :code %><br>
    <%= f.text_field :code %>
      </div>
  <div class="field">
        <%= f.label :name %><br>
    <%= f.text_field :name %>
      </div>
  <div class="field">
        <%= f.label :model %><br>
    <%= f.text_field :model %>
      </div>
  <div class="field">
        <%= f.label :sku %><br>
    <%= f.text_field :sku %>
      </div>
  <div class="field">
        <%= f.label :weight %><br>
    <%= f.text_field :weight %>
      </div>
  <div class="field">
        <%= f.label :manufacturer %><br>
    <%= f.text_field :manufacturer %>
      </div>
  <div class="field">
        <%= f.label :status %><br>
    <%= f.text_field :status %>
      </div>
  <div class="field">
        <%= f.label :taxclass %><br>
    <%= f.text_field :taxclass %>
      </div>
  <div class="field">
        <%= f.label :urlkey %><br>
    <%= f.text_field :urlkey %>
      </div>
  <div class="field">
        <%= f.label :visibility %><br>
    <%= f.text_field :visibility %>
      </div>
  <div class="field">
        <%= f.label :setproductasnewfromdate %><br>
    <%= f.date_select :setproductasnewfromdate %>
      </div>
  <div class="field">
        <%= f.label :setproductasnewtodate %><br>
    <%= f.date_select :setproductasnewtodate %>
      </div>
  <div class="field">
        <%= f.label :countryofmanufacture %><br>
    <%= f.text_field :countryofmanufacture %>
      </div>
  <div class="field">
        <%= f.label :price %><br>
    <%= f.text_field :price %>
      </div>
  <div class="field">
        <%= f.label :cost %><br>
    <%= f.text_field :cost %>
      </div>
  <div class="field">
        <%= f.label :specialprice %><br>
    <%= f.text_field :specialprice %>
      </div>
  <div class="field">
        <%= f.label :specialpricefromdate %><br>
    <%= f.date_select :specialpricefromdate %>
      </div>
  <div class="field">
        <%= f.label :specialpricetodate %><br>
    <%= f.date_select :specialpricetodate %>
      </div>
  <div class="field">
        <%= f.label :applymap %><br>
    <%= f.text_field :applymap %>
      </div>
  <div class="field">
        <%= f.label :displayactualprice %><br>
    <%= f.text_field :displayactualprice %>
      </div>
  <div class="field">
        <%= f.label :suggestedretailprice %><br>
    <%= f.text_field :suggestedretailprice %>
      </div>
  <div class="field">
        <%= f.label :metatitle %><br>
    <%= f.text_field :metatitle %>
      </div>
  <div class="field">
        <%= f.label :metakeywords %><br>
    <%= f.text_field :metakeywords %>
      </div>
  <div class="field">
        <%= f.label :metadescription %><br>
    <%= f.text_field :metadescription %>
      </div>
  <div class="field">
        <%= f.label :shortdescription %><br>
    <%= f.text_field :shortdescription %>
      </div>
  <div class="field">
        <%= f.label :description %><br>
    <%= f.text_field :description %>
      </div>
  <div class="field">
        <%= f.label :indepth %><br>
    <%= f.text_field :indepth %>
      </div>
  <div class="field">
        <%= f.label :dimensions %><br>
    <%= f.text_field :dimensions %>
      </div>
  <div class="field">
        <%= f.label :activationinformation %><br>
    <%= f.text_field :activationinformation %>
      </div>
  <div class="field">
        <%= f.label :color %><br>
    <%= f.text_field :color %>
      </div>
  <div class="field">
        <%= f.label :customdesign %><br>
    <%= f.text_field :customdesign %>
      </div>
  <div class="field">
        <%= f.label :activefrom %><br>
    <%= f.date_select :activefrom %>
      </div>
  <div class="field">
        <%= f.label :activeto %><br>
    <%= f.date_select :activeto %>
      </div>
  <div class="field">
        <%= f.label :customlayoutupdate %><br>
    <%= f.text_field :customlayoutupdate %>
      </div>
  <div class="field">
        <%= f.label :displayproductoptionsin %><br>
    <%= f.text_field :displayproductoptionsin %>
      </div>
  <div class="field">
        <%= f.label :pagelayout %><br>
    <%= f.text_field :pagelayout %>
      </div>
  <div class="field">
        <%= f.label :enablerecurringprofile %><br>
    <%= f.check_box :enablerecurringprofile %>
      </div>
  <div class="field">
        <%= f.label :allowgiftmessage %><br>
    <%= f.check_box :allowgiftmessage %>
      </div>
  <div class="field">
        <%= f.label :managestock %><br>
    <%= f.check_box :managestock %>
      </div>
  <div class="field">
        <%= f.label :qty %><br>
    <%= f.text_field :qty %>
      </div>
  <div class="field">
        <%= f.label :qtyforitemsstatustobecomeoutofstock %><br>
    <%= f.text_field :qtyforitemsstatustobecomeoutofstock %>
      </div>
  <div class="field">
        <%= f.label :minimumqtyallowedinshoppingcart %><br>
    <%= f.text_field :minimumqtyallowedinshoppingcart %>
      </div>
  <div class="field">
        <%= f.label :maximumqtyallowedinshoppingcart %><br>
    <%= f.text_field :maximumqtyallowedinshoppingcart %>
      </div>
  <div class="field">
        <%= f.label :qtyusesdecimals %><br>
    <%= f.check_box :qtyusesdecimals %>
      </div>
  <div class="field">
        <%= f.label :backorders %><br>
    <%= f.text_field :backorders %>
      </div>
  <div class="field">
        <%= f.label :notifyforquantitybelow %><br>
    <%= f.text_field :notifyforquantitybelow %>
      </div>
  <div class="field">
        <%= f.label :enableqtyincrements %><br>
    <%= f.check_box :enableqtyincrements %>
      </div>
  <div class="field">
        <%= f.label :stockavailability %><br>
    <%= f.check_box :stockavailability %>
      </div>
  <div class="field">
        <%= f.label :tags %><br>
    <%= f.text_field :tags %>
      </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
