<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @product.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Model:</strong>
  <%= @product.model %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @product.sku %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @product.weight %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @product.manufacturer %>
</p>

<p>
  <strong>Status:</strong>
  <%= @product.status %>
</p>

<p>
  <strong>Taxclass:</strong>
  <%= @product.taxclass %>
</p>

<p>
  <strong>Urlkey:</strong>
  <%= @product.urlkey %>
</p>

<p>
  <strong>Visibility:</strong>
  <%= @product.visibility %>
</p>

<p>
  <strong>Setproductasnewfromdate:</strong>
  <%= @product.setproductasnewfromdate %>
</p>

<p>
  <strong>Setproductasnewtodate:</strong>
  <%= @product.setproductasnewtodate %>
</p>

<p>
  <strong>Countryofmanufacture:</strong>
  <%= @product.countryofmanufacture %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @product.cost %>
</p>

<p>
  <strong>Specialprice:</strong>
  <%= @product.specialprice %>
</p>

<p>
  <strong>Specialpricefromdate:</strong>
  <%= @product.specialpricefromdate %>
</p>

<p>
  <strong>Specialpricetodate:</strong>
  <%= @product.specialpricetodate %>
</p>

<p>
  <strong>Applymap:</strong>
  <%= @product.applymap %>
</p>

<p>
  <strong>Displayactualprice:</strong>
  <%= @product.displayactualprice %>
</p>

<p>
  <strong>Suggestedretailprice:</strong>
  <%= @product.suggestedretailprice %>
</p>

<p>
  <strong>Metatitle:</strong>
  <%= @product.metatitle %>
</p>

<p>
  <strong>Metakeywords:</strong>
  <%= @product.metakeywords %>
</p>

<p>
  <strong>Metadescription:</strong>
  <%= @product.metadescription %>
</p>

<p>
  <strong>Shortdescription:</strong>
  <%= @product.shortdescription %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Indepth:</strong>
  <%= @product.indepth %>
</p>

<p>
  <strong>Dimensions:</strong>
  <%= @product.dimensions %>
</p>

<p>
  <strong>Activationinformation:</strong>
  <%= @product.activationinformation %>
</p>

<p>
  <strong>Color:</strong>
  <%= @product.color %>
</p>

<p>
  <strong>Customdesign:</strong>
  <%= @product.customdesign %>
</p>

<p>
  <strong>Activefrom:</strong>
  <%= @product.activefrom %>
</p>

<p>
  <strong>Activeto:</strong>
  <%= @product.activeto %>
</p>

<p>
  <strong>Customlayoutupdate:</strong>
  <%= @product.customlayoutupdate %>
</p>

<p>
  <strong>Displayproductoptionsin:</strong>
  <%= @product.displayproductoptionsin %>
</p>

<p>
  <strong>Pagelayout:</strong>
  <%= @product.pagelayout %>
</p>

<p>
  <strong>Enablerecurringprofile:</strong>
  <%= @product.enablerecurringprofile %>
</p>

<p>
  <strong>Allowgiftmessage:</strong>
  <%= @product.allowgiftmessage %>
</p>

<p>
  <strong>Managestock:</strong>
  <%= @product.managestock %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @product.qty %>
</p>

<p>
  <strong>Qtyforitemsstatustobecomeoutofstock:</strong>
  <%= @product.qtyforitemsstatustobecomeoutofstock %>
</p>

<p>
  <strong>Minimumqtyallowedinshoppingcart:</strong>
  <%= @product.minimumqtyallowedinshoppingcart %>
</p>

<p>
  <strong>Maximumqtyallowedinshoppingcart:</strong>
  <%= @product.maximumqtyallowedinshoppingcart %>
</p>

<p>
  <strong>Qtyusesdecimals:</strong>
  <%= @product.qtyusesdecimals %>
</p>

<p>
  <strong>Backorders:</strong>
  <%= @product.backorders %>
</p>

<p>
  <strong>Notifyforquantitybelow:</strong>
  <%= @product.notifyforquantitybelow %>
</p>

<p>
  <strong>Enableqtyincrements:</strong>
  <%= @product.enableqtyincrements %>
</p>

<p>
  <strong>Stockavailability:</strong>
  <%= @product.stockavailability %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @product.tags %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
