<%= form_for(@bugzillaproduct) do |f| %>
  <% if @bugzillaproduct.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bugzillaproduct.errors.count, "error") %> prohibited this bugzillaproduct from being saved:</h2>

      <ul>
      <% @bugzillaproduct.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
        <%= f.label :code %><br>
    <%= f.text_field :code %>
      </div>
  <div class="field">
        <%= f.label :product %><br>
    <%= f.text_field :product %>
      </div>
  <div class="field">
        <%= f.label :description %><br>
    <%= f.text_field :description %>
      </div>
  <div class="field">
        <%= f.label :openforbugentry %><br>
    <%= f.check_box :openforbugentry %>
      </div>
  <div class="field">
        <%= f.label :enableunconfirmedstatus %><br>
    <%= f.check_box :enableunconfirmedstatus %>
      </div>
  <div class="field">
        <%= f.number_field :maxvotesperperson, {min: "0", max: "500"} %>
      </div>
  <div class="field">
        <%= f.number_field :maxvotespersonperbug, {min: "0", max: "500"} %>
      </div>
  <div class="field">
        <%= f.number_field :confirmbugsvotes, {min: "0", max: "500"} %>
      </div>
  <div class="field">
        <%= f.label :version %><br>
    <%= f.text_field :version %>
      </div>
  <div class="field">
        <%= f.label :createchartdatasets %><br>
    <%= f.check_box :createchartdatasets %>
      </div>
  <div class="field">
        <%= f.label :component %><br>
    <%= f.text_field :component %>
      </div>
  <div class="field">
        <%= f.label :componentdescription %><br>
    <%= f.text_field :componentdescription %>
      </div>
  <div class="field">
        <%= f.label :defaultassignee %><br>
    <%= f.text_field :defaultassignee %>
      </div>
  <div class="field">
        <%= f.label :defaultcclist %><br>
    <%= f.text_field :defaultcclist %>
      </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
