<%= form_for(@bugzillaproduct, :html => { :class => "w3-container" }) do |f| %>
  <% if @bugzillaproduct.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bugzillaproduct.errors.count, "error") %> prohibited this bugzillaproduct from being saved:</h2>

      <ul>
      <% @bugzillaproduct.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :code, class: 'w3-input' %>
    <%= f.label :code %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :product, class: 'w3-input' %>
    <%= f.label :product %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :description, class: 'w3-input' %>
    <%= f.label :description %><br>
    <p>
  </div>
  <div class="field">
    <%= f.check_box :openforbugentry, class: 'w3-input' %>
    <%= f.label :openforbugentry %><br>
    <p>
  </div>
  <div class="field">
    <%= f.check_box :enableunconfirmedstatus, class: 'w3-input' %>
    <%= f.label :enableunconfirmedstatus %><br>
    <p>
  </div>
  <div class="field">
    <%= f.number_field :maxvotesperperson, class: 'w3-input' %>
    <%= f.label :maxvotesperperson %><br>
    <p>
  </div>
  <div class="field">
    <%= f.number_field :maxvotespersonperbug, class: 'w3-input' %>
    <%= f.label :maxvotespersonperbug %><br>
    <p>
  </div>
  <div class="field">
    <%= f.number_field :confirmbugsvotes, class: 'w3-input' %>
    <%= f.label :confirmbugsvotes %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :version, class: 'w3-input' %>
    <%= f.label :version %><br>
    <p>
  </div>
  <div class="field">
    <%= f.check_box :createchartdatasets, class: 'w3-input' %>
    <%= f.label :createchartdatasets %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :component, class: 'w3-input' %>
    <%= f.label :component %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :componentdescription, class: 'w3-input' %>
    <%= f.label :componentdescription %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :defaultassignee, class: 'w3-input' %>
    <%= f.label :defaultassignee %><br>
    <p>
  </div>
  <div class="field">
    <%= f.text_field :defaultcclist, class: 'w3-input' %>
    <%= f.label :defaultcclist %><br>
    <p>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
