<p id="notice"><%= notice %></p>

<h1>Listing Bugzillaproducts</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Product</th>
      <th>Description</th>
      <th>Openforbugentry</th>
      <th>Enableunconfirmedstatus</th>
      <th>Maxvotesperperson</th>
      <th>Maxvotespersonperbug</th>
      <th>Confirmbugsvotes</th>
      <th>Version</th>
      <th>Createchartdatasets</th>
      <th>Component</th>
      <th>Componentdescription</th>
      <th>Defaultassignee</th>
      <th>Defaultcclist</th>
      
    </tr>
  </thead>

  <tbody>
    <% @bugzillaproducts.each do |bugzillaproduct| %>
      <tr>
        <td><%= bugzillaproduct.code %></td>
        <td><%= bugzillaproduct.product %></td>
        <td><%= bugzillaproduct.description %></td>
        <td><%= bugzillaproduct.openforbugentry %></td>
        <td><%= bugzillaproduct.enableunconfirmedstatus %></td>
        <td><%= bugzillaproduct.maxvotesperperson %></td>
        <td><%= bugzillaproduct.maxvotespersonperbug %></td>
        <td><%= bugzillaproduct.confirmbugsvotes %></td>
        <td><%= bugzillaproduct.version %></td>
        <td><%= bugzillaproduct.createchartdatasets %></td>
        <td><%= bugzillaproduct.component %></td>
        <td><%= bugzillaproduct.componentdescription %></td>
        <td><%= bugzillaproduct.defaultassignee %></td>
        <td><%= bugzillaproduct.defaultcclist %></td>
      <td>
      <div class="w3-dropdown-hover">
    <button class="w3-button">Actions</button>
    <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <td><%= link_to 'Show', bugzillaproduct, :class => 'w3-bar-item w3-button' %></td>
        <td><%= link_to 'Edit', edit_bugzillaproduct_path(bugzillaproduct), :class => 'w3-bar-item w3-button' %></td>
        <td><%= link_to 'Destroy', bugzillaproduct, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'w3-bar-item w3-button' %></td>
          </div>
  </div>
</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bugzillaproduct', new_bugzillaproduct_path %>
